@import url('input-humidity.css');
@import url('input-pressure.css');
@import url('input-visibility.css');

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 506px;
    height: 408px;
    margin-top: 32px;
}

.cards__card {
    width: 126px;
    height: 164px;
    border-radius: 8px;
    padding: 16px;
    background-color: #f5f4f47d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cards__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #202020;
}

.cards__data {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cards__value, .cards__unit, .cards__time {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #202020;
}

.cards__range, .cards__grade, .cards__since, .cards__direction {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #393939;
}

.cards__range {
    width: 100%;
    display: flex;
    justify-content: space-between;
}